
.lx-panel > .panel-side {
  background-color: var(--color-region);
  width: var(--aside-size);
}

.lx-panel > .panel-side .config-header{
  height: var(--row-size);
  background-color: var(--color-layout-background);
  padding: 0 0.5rem;
}

.lx-panel > .panel-side .config-header > .lx-context-container .popper-wrapper {
  width: 100%;
}

.lx-panel > .panel-side .config-header .header-wrapper {
  height: var(--row-size);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.lx-panel > .panel-side .config-header .header-wrapper >p {
  color: var(--color-nav-foreground);
  font-weight: var(--font-weight-bold);
}

.lx-panel > .panel-side .config-header .header-wrapper > svg {
  height: 1.5rem;
  fill: var(--color-nav-foreground);
}

.lx-panel > .panel-side .config-header .lx-dropdown-toggler .header-wrapper:has(p) {
  cursor: pointer;
}

.lx-panel > .panel-side .panel-main > .button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: var(--border-width-1) solid var(--color-chrome);
  border-right: none;
}

.lx-panel > .panel-side .settings-wrapper{
  padding: var(--space-0750);
  display: flex;
  flex-direction: column;
  gap: var(--space-0750);
}

.lx-panel > .panel-side .panel-main > .button-group > .lx-button {
  --color-button-secondary-background: var(--color-region-2);
  --color-button-secondary-text: var(--color-data);
  --color-button-secondary-icon: var(--color-data);
  --button-secondary-border: var(--border-width-2) solid transparent;
}

.lx-panel > .panel-side  .button-group > .lx-button:first-child::after{
  position: absolute;
  content: " ";
  height: 2rem;
  right: 0;
  border-right: var(--border-width-1) solid var(--color-chrome);
  opacity: 1;
  transition: opacity .1s ease-out;
  z-index: 1;
}

.lx-panel > .panel-side  .button-group > .lx-button:first-child:hover:not(.lx-disabled)::after{
  opacity: 0;
}

.lx-panel {
  position: fixed;
  top: calc(var(--nav-row-size) + 10vh);
  z-index: 1000;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
}


#constructor-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 100;
  pointer-events: none;
}

.highlight {
  position: absolute;
  box-sizing: border-box;
  border: var(--border-width-2) solid var(--color-blue);
  background: transparent;
  z-index: 100;
  pointer-events: none;
  transition: left 100ms ease-out, top 100ms ease-out;
}

.highlight .highlight-toolbar {
  position: absolute;
  top: -1.5rem;
  left: -0.125rem;
  display: flex;
  background: var(--color-blue);
  pointer-events: all;
  height: 1.5rem;
}

.highlight .highlight-toolbar > span{
  padding-inline: var(--space-0250);
  color: white; /* TODO: fix */
}

.highlight .highlight-toolbar .lx-button {
  --button-ghost-icon-only-height: 1.5rem;
  --button-ghost-icon-only-width: 1.5rem;
  --button-ghost-icon-only-min-width: 1.5rem;
  --color-button-ghost-icon: white; /* TODO: fix */
  --color-button-ghost-icon-focus: white; /* TODO: fix */

  --button-ghost-icon-size: 1.25rem;
}

.lx:not(.lx-theme-contrast) .lx-panel .panel-side{
  --region-border-transparent: var(--border-width-1) solid var(--color-chrome);
}

.lx.lx-no-transparency .lx-panel .panel-side {
  --shadow-dropdown: inset 0 0 0 var(--border-width-1) var(--color-chrome);
}

.lx-panel .panel-side {
  box-shadow: var(--shadow-dropdown);
}

.lx-panel .panel-main {
  max-height: 70vh;
  max-width: var(--aside-size);
  overflow-y: overlay;
}

.lx-panel .panel-main .lx-form-grid .lx-main.lx-compact-sections> .lx-form-section{
  padding-left: calc(var(--gap-form) / 4);
  padding-right: calc(var(--gap-form) / 4); 
}

.no-component-wrapper {
  padding: var(--space-0250);
}

.no-component-wrapper > .lx-empty-state-wrapper{
  width: 100%;
}

.panel-main .lx-form-grid>.lx-main .lx-row {
  max-width: calc(var(--aside-size) - 2rem);
}

.code-display > .code {
  white-space: pre;
  font-family: var(--font-family-mono);
  padding: var(--space-2000);
  grid-column: 1 / 3;
  overflow: auto;
  background-color: var(--color-region-2);
  margin: 0;
}

.import-switcher {
  padding-bottom: var(--space-1000);  
}

.highlight .highlight-toolbar-remove {
  right: -0.125rem;
  left: unset;
}


.custom-auto-complete-item-with-icon {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
  width: 100%;
  height: 1.5rem;
  align-items: center;
}

.custom-auto-complete-item-with-icon p.lx-data {
  font-weight: 400;
  min-height: 0;
  align-self: center;
  padding: 0;
  margin: 0;
}

.custom-auto-complete-item-with-icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.component-add-text {
  margin-bottom: var(--space-1000);
}

.lx-panel > .panel-side .config-header.has-selected-element {
  background-color: var(--color-blue);
  cursor: pointer;
}

.lx-panel > .panel-side .config-header.has-selected-element:hover {
  background-color: var(--color-interactive-hover-background);
}

.lx-panel>.button-side>.lx-button {
  --color-button-secondary-background: var(--color-nav-background);
  --color-button-secondary-background-hover: var(--color-interactive-hover-background);
  --color-button-active-mode-background: var(--color-nav-item-background-selected);
  --color-button-secondary-icon: var(--color-nav-foreground);
  --color-button-active-mode-icon: var(--color-nav-item-icon-selected);
  --button-secondary-border: var(--button-secondary-border-width) solid transparent;
}

.lx-panel > .panel-side .prop-search {
  border-left: var(--border-width-1) solid var(--color-chrome);
}

.lx-panel > .panel-side .config-header.has-selected-element .header-wrapper p {
  color: var(--color-focus-foreground);
}

.lx-panel > .panel-side .config-header.has-selected-element .header-wrapper svg {
  fill: var(--color-focus-foreground);
}

/* Panel contrast theme styles */

.lx-theme-contrast .highlight {
  border: var(--border-width-2) solid var(--contrast-hover);
}

.lx-theme-contrast .highlight .highlight-toolbar > span {
  color: var(--contrast-background);
}

.lx-theme-contrast .highlight .highlight-toolbar .lx-button {
  --color-button-ghost-icon: var(--contrast-background);
  --color-button-ghost-icon-focus: var(--contrast-background);
}

.lx-theme-contrast .lx-panel .button-side {
  height: fit-content;
  border-top: var(--border-width-2) solid var(--contrast-foreground);
  border-bottom: var(--border-width-2) solid var(--contrast-foreground);
}

.lx-theme-contrast .lx-panel:not(:has(> .panel-side)){
  border-left: var(--border-width-2) solid var(--contrast-foreground);
}

.lx-theme-contrast .lx-panel>.panel-side {
  border: var(--border-width-2) solid var(--contrast-foreground);
}

.lx-theme-contrast .lx-panel .panel-side{
  box-shadow: none;
}

.lx-theme-contrast  .lx-panel>.panel-side .prop-search{
  border-left: none;
}

.lx-theme-contrast .lx-panel>.panel-side .panel-main>.button-group,
.lx-theme-contrast .lx-panel .panel-main .lx-form-grid {
  border: none;
}